---
import Layout from 'src/layouts/Layout.astro';
const response = await fetch(
  `https://${import.meta.env.MICROCMS_SERVICE_DOMAIN}.microcms.io/api/v1/blog`,
  {
    headers: { "X-MICROCMS-API-KEY": import.meta.env.MICROCMS_API_KEY },
  }
);
const data = await response.json();
---
<Layout title="マイブログ">
  <main style="padding: 20px;">
    <h1>記事一覧</h1>
    <ul>
      {data.contents.map((post: any) => (
        <li style="margin-bottom: 10px;">
          <a href={`/${post.id}`} style="color: blue; font-size: 1.2rem;">
            {post.title}
          </a>
        </li>
      ))}
    </ul>
  </main>
</Layout>
